<h1>Log In!</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<form action="/login" method="POST">

 <label for="username">Username:</label>
 <input type="text" name="username" placeholder="Username" id="username"/>

 <br></br>

 <label for="password">Password:</label>
 <input type="text" name="password" placeholder="Password" id="password"/>

 <br></br>

 <input type="submit" id="submit" value="Login"/>
</form>
