<h1>Edit An Existing Item!</h1>


<form action="/items/<%= @item.id %>" method="post">

  <label for="title">Title: </label>
  <input type="text" name="title" id="title"/>

  <br></br>

  <label for="character">Character: </label>
  <input type="character" name="character" id="character"/>

  <br></br>

  <label for="description">Description: </label>
  <input type="text" name="description" id="description"/>

  <br></br>
  <input type="hidden" name="_method" value="delete">
     <input type="submit" value="Delete This Book" />
  <br></br>

  <input type="submit" id="submit" value="Edit Existing Item"/>
</form>
