<h1> Welcome back,<b><%= @current_user.username%></b>!</h1>

<% if @errors %>
  <p style="color: red;"><%= @errors %></p>
<% end %>

<h1>Your Current Inventory</h1>
<br>
<ul>
      <% if @items.size > 0 %>
      <% @items.each do |item| %>
        <% if item.user_id == @current_user.id %>

        <li>
        <a href="/items/<%= item.title %>">
        </a>
        </li>

<br></br>
<% end %>
<% end %>

    <a href="/items/new">Add new item!</a>
        <% else %>
            <p>You do not have any recorded items.
    <a href="/items/new"> Add a new one!</a>
            </p>
        <% end %>
</ul>
