<h1>Your Haversack Item:</h1>
  <h1><%= @item.title %></h1> 
    <br></br>

      <p>Character: <%= @item.character %></p>

      <p> Description: <%= @item.description %></p> 
        <br> </br>

      <p> <a href="/items">View All Items</a> </p>
