
  <h1>The Haversack App</h1>


<div class="content">
  <p>Welcome to the Haversack App! </p>
  <p> This is a Ruby/Sinatra based application in which a user can save/edit/delete information that is shared by the same user. It currently is dedicated towards saving items from Dungeons & Dragons 5th Edition. </p>
</div>

